parameters:
    level: 1
    paths:
        - src
    ignoreErrors:
        -
            identifier: method.staticCall
        -
            identifier: staticMethod.notFound
        -
            identifier: class.notFound
        -
            identifier: property.notFound